body {
    overscroll-behavior: none; /* 阻止滚动到页面边缘的效果 */
}

::selection {
    background-color: yellow;
    color: black;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@keyframes highlight {
    50% {
        opacity: 0.1;
    }
}

.animate-highlight {
    animation: highlight 100ms cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes bounce-1 {
    0%,
    100% {
        transform: translateY(-100%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
.animate-bounce-1 {
    animation: bounce-1 1s infinite;
}
