body {
    overscroll-behavior: none; /* 阻止滚动到页面边缘的效果 */
}

::selection {
    background-color: yellow;
    color: black;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@keyframes highlight {
    50% {
        opacity: 0.1;
    }
}

.animate-highlight {
    animation: highlight 0.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
